* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/*  Navigation-Bar-Start */

/* Navbar-1-Start*/

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
}

.extension {
  height: 50px;
  display: flex;
  justify-content: end;
  font-size: 0.75rem;
  margin-top: 25px;
  margin-right: 14px;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: 80%;
  background-repeat: no-repeat;
  height: 50px;
  width: 160px;
  margin: 5px 2px 5px 0px;
}

.nav-mainadd {
  height: 60px;
  width: 146px;
  display: flex;
  align-items: center;
}

.nav-address {
  height: 50px;
  width: 144px;
  margin: 5px 2px 5px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.txt-deliver {
  font-size: 0.8rem;
  text-align: left;
  margin-left: 15px;
  margin-top: 7px;
  align-items: center;
  width: 113px;
  color: #cccccc;
}

.txt-location {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
}

#icon-location {
  margin-right: 3px;
}

.nav-searchbar {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  height: 60px;
  align-items: center;
}

.search-catergory {
  height: 35px;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  text-align: center;
  outline: none;
  overflow-x: auto;
  background-color: #f3f3f3;
}

.search-box {
  height: 35px;
  width: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-icon {
  height: 35px;
  width: 45px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  background-color: rgb(236, 184, 14);
  font-size: 1rem;
}

.nav-language {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 5px 2px 5px 0px;
}
.img-flag {
  height: 30px;
  margin: 5px 1px 5px 2px;
}

.dropdown-language {
  background-color: #0f1111;
  border: none;
  color: white;
  font-weight: 900;
  text-align: center;
  outline: none;
}

.nav-signin {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
}

.signin-first {
  font-size: 0.8rem;
  margin-left: 5px;
}

.signin-second {
  background-color: #0f1111;
  color: white;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
}

.nav-returns {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
}

.returns-first {
  font-size: 0.8rem;
  margin-left: 5px;
}

.returns-second {
  background-color: #0f1111;
  color: white;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
}

.nav-cart {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 5px 0px;
}

.cart-icon {
  font-size: 1.5rem;
  margin-left: 2px;
}

.cart-text {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: end;
  margin: 5px 5px 5px 2px;
  height: 30px;
}

/* Navbar-2-End */

/* Navigation-2-Start */

.navbar-2 {
  background-color: #232f3e;
  height: 39px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.opt-1 {
  height: 36px;
  display: flex;
  align-items: center;
  color: white;
}

.opt-1-icon {
  font-size: 1.2rem;
  margin-left: 5px;
}

.opt-1-text {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.opt-2,
.opt-3,
.opt-4,
.opt-5,
.opt-6,
.opt-7,
.opt-9,
.opt-10,
.opt-11,
.opt-12,
.opt-13,
.opt-14 {
  color: white;
  font-size: 0.9rem;
  height: 36px;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.opt-8 select,
.opt-15 select {
  border: none;
  background-color: #232f3e;
  color: white;
  height: 36px;
  font-size: 0.9rem;
  font-weight: 600;
}

.opt-16-img {
  height: 39px;
}

/* Media Queries for Responsive Font Sizes */
@media screen and (min-width: 800px) and (max-width: 1700px) {
  .opt-10,
  .opt-11,
  .opt-12,
  .opt-13,
  .opt-14,
  .opt-15 {
    display: none;
  }
}

/* Navbar-2-End */

/* Main-Body-Start */

.hero-bg {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url("hero.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 95%;
  margin-bottom: 60px;
}

.hero-msg a {
  color: #007185;
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1700px) {
  .hero-msg {
    margin-bottom: 30px;
  }
}

/*Content - 1 Start  */
.content {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3e6e6;
  background-image: linear-gradient(to bottom, #2e3a71, #e3e6e6);
}

.content h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 10px;
}
.content img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70%;
  width: 100%;
}

.content p {
  color: #007185;
  font-size: 0.85rem;
  cursor: pointer;
}
.box {
  height: 360px;
  width: 35%;
  background-color: white;
  margin: 10px;
  padding: 15px;
}

.box {
  margin-top: 20px;
}

.box1 {
  margin-left: 20px;
  margin-top: 20px;
}

.box3 {
  margin-right: 20px;
  margin-top: 20px;
}

/* Content - 1 End */

/* Content - 2 Start */
.content-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3e6e6;
}

.content-2 h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 10px;
}
.content-2 img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70%;
  width: 100%;
}

.content-2 p {
  color: #007185;
  font-size: 0.85rem;
  cursor: pointer;
}
.box-2 {
  height: 360px;
  width: 35%;
  background-color: white;
  margin: 10px;
  padding: 15px;
}

.box-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.box4 {
  margin-left: 20px;
  margin-top: 15px;
}

.box6 {
  margin-right: 20px;
  margin-top: 15px;
}

/* Content - 2 End */

/* Content - 3 Start */

.content-3 {
  height: 300px;
  background-color: #e3e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  background-color: white;
  height: 290px;
  width: 98%;
  display: flex;
  flex-direction: column;
}

.books h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
}

.book-image {
  margin: 10px;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

@media screen and (min-width: 800px) and (max-width: 1700px) {
  .book1 {
    display: none;
  }
  .books {
    width: 97%;
  }
}

.content-4 {
  height: 300px;
  background-color: #e3e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie {
  background-color: white;
  height: 290px;
  width: 98%;
  display: flex;
  flex-direction: column;
}

.movie h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
}

.movie-image {
  margin: 10px;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

@media screen and (min-width: 800px) and (max-width: 1700px) {
  .movie1 {
    display: none;
  }
  .movie {
    width: 97%;
  }
}
/* Main-Body-End  */

/* Footer - Start */

.footer-start {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  background-color: #2c3d51;
}

.footer-mid {
  background-image: linear-gradient(to bottom, #14273e, #2c3d51, #14273e);
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-mid ul {
  list-style-type: none;
}

.footer-content {
  height: 350px;
  width: 60%;
  margin-top: 60px;
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
}

.footer1 li {
  margin-bottom: 20px;
  margin-right: 100px;
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) and (max-width: 1700px) {
  .footer-content {
    width: 90%;
  }
}

.footer-end {
  background-color: #2c3d51;
  display: flex;
  justify-content: center;
}

.footer-end img {
  width: 100px;
}
